body {
  background-image: url("/assets/death-star.jpg");
  background-size: cover;
}

.container-fluid {
  height: auto;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

h1.title {
  color: #4bd5ee;
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
  line-height: 1.35;
  margin-bottom: 0;
}

h6 {
  color: hsl(195deg, 80%, 50%);
}

#prevBtn,
#nextBtn {
  width: 10%;
}

.search {
  margin-left: 20%;
  margin-top: 2%;
}

.results {
  margin-left: 3%;
  font-size: 25px;
}

#output {
  margin-top: 30px;
}

.wrapper {
  background-color: #051619;
  padding: 10px;
  margin-top: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.error {
  margin-top: 50px;
}
